
NET "lights<0>"      LOC = P35;
NET "lights<1>"      LOC = P34;
NET "lights<2>"      LOC = P33;
NET "lights<3>"      LOC = P32;
NET "lights<4>"      LOC = P30;
NET "lights<5>"      LOC = P29;
NET "lights<6>"      LOC = P27;
NET "lights<7>"      LOC = P26;
NET "lights<8>"      LOC = P24;
NET "lights<9>"      LOC = P23;
NET "lights<10>"     LOC = P22;
NET "lights<11>"     LOC = P21;
NET "lights<12>"     LOC = P17;
NET "lights<13>"     LOC = P16;
NET "lights<14>"     LOC = P15;
NET "lights<15>"     LOC = P14;

NET "lights<16>"     LOC = P93;
NET "lights<17>"     LOC = P92;
NET "lights<18>"     LOC = P88;
NET "lights<19>"     LOC = P87;
NET "lights<20>"     LOC = P85;
NET "lights<21>"     LOC = P84;
NET "lights<22>"     LOC = P83;
NET "lights<23>"     LOC = P82;

NET "sender_hs"      LOC = P58 | IOSTANDARD = LVTTL;	
NET "sender_cs"      LOC = P57 | IOSTANDARD = LVTTL;	
NET "sender_mosi"    LOC = P67 | IOSTANDARD = LVTTL;	
NET "sender_miso"    LOC = P66 | IOSTANDARD = LVTTL;	
NET "sender_sck"     LOC = P74 | IOSTANDARD = LVTTL;	


//NET "test<5>"        LOC = P117 | IOSTANDARD = LVTTL;